<div class="header-section">
  <div class="logo-container">
    <a href="/">
      <img
        src="../images/lookncook-logo-200.png"
        alt="lookncook, your culinary compass"
      />
    </a>
  </div>
  <div class="search-section">
    <div class="search-bar-container">
      <input type="text" id="search-bar" required/>  
    </div>
    <div class="search-btns">
      <button type="button" id="search-btn">Search</button>
      <button type="button" id="filters-btn">+ Filters</button>
    </div>
  </div>
  </div>
</div>
<div class="favs-container">
  <a href="/user-page/index.html">
    <img src="images/user-favs-80.png" alt="user favorites recipes" />
  </a>
</div>