:root {
    --primary: #D2E9A3;
    --secondary: #A2B9E8;
    --auxiliary: #E8ADA2;
    --accent-1: #4A6318;
    --accent-2: #69453F;
  }

*{

    box-sizing: border-box;
}

/*           GENERAL              */

h1, h2, h3, button {
    font-family: 'Montserrat','Raleway', sans-serif;
}

h1 {
    border-bottom: 2px solid var(--primary);
    padding: 1rem;
    text-align: center;
}

.container {

    border-top: 3px solid var(--auxiliary);
    border-bottom: 3px solid var(--auxiliary);
    margin: 5rem 20%;
}

body {
    font-family: 'Lora', 'Crimson Text', serif;
    max-width: 80%;
    margin: 0 auto;
}


/*             NAVIGATION              */

button {
    background-color: var(--accent-1);
    padding: 0.5rem 1.5rem;
    color: white;
    font-size: 1.2rem;
    border: 0.5px solid black;
    border-radius: 10px;
    margin: 1rem auto;

 }
 
 button:hover {
    background-color: var(--accent-2);
 }

 button:active {
    background-color: var(--auxiliary);
    color: black;
 }

 button.sec-btn {
    background-color: var(--secondary);
    color: black;
 }

 button:disabled{
   background-color: lightgrey;
   color: grey;
   border: none;
 }

 input {
    height: 44px;
    font-size: 1.2rem;
    min-width: 500px;
    margin-right: 2rem;
    vertical-align: auto;
    padding-left: 1rem;
    border: 1px black solid;
    border-radius: 10px;
 }




/*         CSS FOR HOME PAGE ONLY            */


#home > header div.header-section{
   position: absolute;
   left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
   display: flex;
   flex-direction: column;
}

#home > header div.header-section > div.favs-container {
   position: absolute;
   top: 0px;
   right: 0px;

}



/*         SEARCH BAR          */
header {
   width: 100%;
}


 div.favs-container {
    position: absolute;
    top: 5px;
    right: 5px;
 }

header > div.header-section {
    display: flex;
    align-items: center;
    justify-content:center
}

header > div.header-section > div.search-section {
   display: flex;
   align-items: center;
}

@media screen and (min-width: 1320px){
   #home > header div.header-section > div.search-section{
      display: flex;
      flex-direction: column;
      text-align: center;
    }
}

@media screen and (max-width: 1320px)  {
 div.header-section > div.search-section{
   display: flex;
   flex-direction: column;
   text-align: center;
 }


}

 /*         FILTER OPTIONS          */

div.filter-options {
   display: flex;
   flex: 1 1;

}

button.filter-btn {
   width: 20%;
   padding: 0.2rem 0rem;
}

 /*         SEARCH RESULTS           */

.search-list-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
   gap: 1rem;
   margin: 2rem auto;
}

.search-result {
   display: flex;
   flex-direction: column;
   text-align: center;
   margin: 10px;
   border: solid 0.2px black;
}

.search-result img{
   display: block;
   max-width: 80%;
   margin: 0px auto;
}

#favs, #remove-recipe {
   padding: 0px;
   border: none;
   background: none;
   margin: 0px;
}

#favs img, #remove-recipe img {
   width: 30px;
   height: 30px;
}



 /*         FOOTER          */



#foot > footer {
   width: 100%;
   position: absolute;
   bottom: 0px;
   padding: 0.5rem 0px;
   background-color: var(--primary);
   text-align: center;
   left: 50%;
   transform: translateX(-50%);
 }

 footer {
   width: 100%;
   padding: 0.5rem 0px;
   background-color: var(--primary);
   text-align: center;
 }
